@inherits LayoutComponentBase
@inject NavigationManager Navigation

<MudPopoverProvider />

<div class="page">
    @if (!Navigation.Uri.EndsWith("/")) 
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
